/* Загальні стилі */

:root {
  --white-color: #ffffff;
  --text-color: #757575;
  --hover-color: #2196f3;
  --section-color: #2f303a;
  --name-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

header > a {
  color: var(--text-color);
}

a:hover,
a:focus {
  color: var(--hover-color);
}

li {
  list-style: none;
}

/* Перша частина логотипу */
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

/* Друга частина логотипу - header */
.studio-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Друга частина логотипу - footer */
.studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Посилання навігації */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--name-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.link {
  color: var(--hover-color);
}

/* Головний заголовок */
.general-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Блок - "Титул" */
.hero {
  background-color: var(--section-color);
}

/* Кнопкa з головної сторінки */
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  cursor: pointer;
}
/* Кнопки з портфолио */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
}

/* Заголовок про нас */
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

/* Приховування */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Заголовок переваг */
.title-advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
}

/* Опис переваг */
.advantage {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Блок - "команда" */
.team {
  background-color: #f5f4fa;
}

/* П.І.Б */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

/* Посади */
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Назва проекту */
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
}

/* Тип проекту */
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--section-color);
}

.footer-adres {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
